@import "../../../../styles.scss";

.m-sign-in-button {
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    margin: 0px;
    font-size: small;
    color: $font-dark;
  }
}
