<div class="m-nav-items">
  <div
    class="m-nav-items__item"
    [ngClass]="{
      'm-nav-items__item--selected': activeRoute == '/'
    }"
  >
    <a-icon-button
      routerLink="/"
      [label]="'Inicio'"
      [imgSrc]="'../../../../assets/img/home-solid-svg.png'"
      [variant]="'always-label'"
      [style]="{
        'font-size': '14px',
        height: '2.7em',
        width: '90%',
        'padding-left': '8%'
      }"
    ></a-icon-button>
  </div>
  <div class="m-nav-items__item">
    <a-icon-button
      [label]="'Cerrar sesión'"
      [imgSrc]="'../../../../assets/img/sign-out-alt-solid-svg.png'"
      [variant]="'always-label'"
      [style]="{
        'font-size': '14px',
        height: '2.7em',
        width: '90%',
        'padding-left': '8%'
      }"
      (click)="handleLogout()"
    ></a-icon-button>
  </div>
</div>
