@import "../../../../styles.scss";

.input {
  padding: 0px 8px 0px 8px;
  height: 2em;
  border: 1px $border solid;
  background-color: $background;
  border-radius: 0.7em;
  color: $font-dark;
  outline: none;
  position: absolute;

  &:focus {
    box-shadow: inset 0px 0px 0px $background,
      0px 0px 8px 1px $focus-primary;
  }
}
.btn-img {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  width: 2em;
  height: 1.8em;
  left: 10em;
  border: 0px;
  position: relative;
  top: 1px;
  outline: none;

  &:hover {
    background-color: $hover-dark;
  }
}
