<form class="m-login-form">
  <div class="m-login-form-input">
    <app-common-input
      class="m-login-form-input-name"
      (actualValue)="getUserValue($event)"
      [style]="{
        width: '260px',
        height: '30px'
      }"
      [placeholder]="'Usuario'"
      [type]="'email'"
    ></app-common-input>
    <p *ngIf="emailError">{{ emailError }}</p>
  </div>
  <div class="m-login-form-input">
    <app-icon-input
      class="m-login-form-input-password"
      (actualValue)="getPasswordValue($event)"
      [style]="{
        width: '260px',
        height: '30px'
      }"
      [placeholder]="'Contraseña'"
    ></app-icon-input>
    <p *ngIf="passwordError">{{ passwordError }}</p>
  </div>
  <app-common-button
    class="m-login-form-login-btn"
    [variant]="'content'"
    [label]="'Iniciar sesión'"
    [style]="{
      height: '30px',
      width: '80%'
    }"
    (click)="handleLogin()"
  ></app-common-button>
</form>
