@import "../../../../styles.scss";

.a-logo-img-div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__img {
    width: 80px;
  }
}

.a-logo-img-div--horz {
  flex-direction: row;

  .a-logo-img-div__img {
    width: 150px;
  }

}
