$primary: #29ad41;
$primary-dark: #128527;

$focus-primary: #128527;

$border: rgb(173, 173, 173);
$border-light: rgb(204, 204, 204);

$background: #ffffff;
$background-blue: #05300d;
$background-light-grey: #eeeeee;

$hover-white: rgba(255, 255, 255, 0.2);
$hover-dark: rgba(0, 0, 0, 0.1);
$hover-dark-up: rgba(0, 0, 0, 0.5);

$scroll-light: rgba(202, 202, 202, 0.822);

$font-dark: #000;
$font-grey: #393939;
$font-light: #ffffff;

$error: #ff3131;
$successfully: #5dc45d;
