@import "../../../../styles.scss";

.o-sign-in {
  height: 100vh;
  background-color: $background;
  display: flex;
  justify-content: center;
  align-items: center;
}

.o-sign-in__form {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-logo {
    margin-bottom: 20px;
  }

  &-log-in {
    margin-bottom: 25px;
  }
}
