@import "../../../../styles.scss";

.o-log-in {
  height: 100vh;
  background-color: $background;
  display: flex;
  justify-content: center;
  align-items: center;
}

.o-log-in__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-logo {
    margin-bottom: 20px;
  }

  &-sign-in {
    margin-bottom: 25px;
  }
}
