<div class="a-file">
  <div class="a-file__img">
    <img src="{{ imgSrc }}" alt="imagen de playlist" />
  </div>
  <div class="a-file__info">
    <h5>{{ name }}</h5>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu to manage file">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openFile(url, name)">
        <mat-icon>open_in_new</mat-icon>
        <span>Ver archivo</span>
      </button>
    </mat-menu>
  </div>

</div>
