<div class="t-app-content">
  <div
    class="t-app-content__menu"
    [ngClass]="{
      't-app-content__menu--show': openMenu == true
    }"
  >
    <o-menu></o-menu>
  </div>
  <div class="t-app-content__content">
    <div class="t-app-content__content__navigation-bar">
      <o-navigation-bar
        [openMenu]="openMenu"
        (openMenuEvent)="handleShowMenu($event)"
      ></o-navigation-bar>
    </div>
    <div class="t-app-content__content__songs-content">
      <o-all-files-list *ngIf="page == 'home'"></o-all-files-list>
    </div>
  </div>
  <div
    class="t-app-content__layer"
    role="cover content when menu is open"
    [ngClass]="{
      't-app-content__layer--show': openMenu == true
    }"
    (click)="handleCloseMenu()"
  ></div>
</div>
