@import "../../../../styles.scss";

.input {
  padding: 0px 8px 0px 8px;
  height: 2em;
  border: 1px $border solid;
  background-color: $background;
  border-radius: 0.7em;
  color: $font-dark;
  outline: none;

  @include montserrat-regular;

  &:focus {
    box-shadow: inset 0px 0px 0px $background,
      0px 0px 8px 1px $focus-primary;
  }
}
