<form class="m-signin-form">
  <div class="m-signin-form-input">
    <app-common-input
      class="m-signin-form-input-name"
      (actualValue)="setNameValue($event)"
      [style]="{
        width: '260px',
        height: '30px'
      }"
      [placeholder]="'Nombres'"
    ></app-common-input>
    <p *ngIf="nameError">{{ nameError }}</p>
  </div>
  <div class="m-signin-form-input">
    <app-common-input
      class="m-signin-form-input-name"
      (actualValue)="setIdValue($event)"
      [style]="{
        width: '260px',
        height: '30px'
      }"
      [placeholder]="'Cédula'"
    ></app-common-input>
    <p *ngIf="idError">{{ idError }}</p>
  </div>
  <div class="m-signin-form-input">
    <app-common-input
      class="m-signin-form-input-name"
      (actualValue)="setAddressValue($event)"
      [style]="{
        width: '260px',
        height: '30px'
      }"
      [placeholder]="'Dirección'"
    ></app-common-input>
    <p *ngIf="addressError">{{ addressError }}</p>
  </div>
  <div class="m-signin-form-input">
    <app-common-input
      class="m-signin-form-input-name"
      (actualValue)="setUserValue($event)"
      [style]="{
        width: '260px',
        height: '30px'
      }"
      [placeholder]="'Correo'"
    ></app-common-input>
    <p *ngIf="emailError">{{ emailError }}</p>
  </div>
  <div class="m-signin-form-input m-signin-form-input--password">
    <app-icon-input
      class="m-signin-form-input-password"
      (actualValue)="setPasswordValue($event)"
      [style]="{
        width: '260px',
        height: '30px'
      }"
      [placeholder]="'Contraseña'"
    ></app-icon-input>
    <p *ngIf="passwordError">{{ passwordError }}</p>
  </div>
  <app-common-button
    class="m-signin-form-btn"
    [variant]="'content'"
    [label]="'Registrarse'"
    [style]="{
      height: '30px',
      width: '80%'
    }"
    (click)="handleSignIn()"
  ></app-common-button>
</form>
