@import "../../../../styles.scss";

.t-authorization {
  display: flex;

  &__img {
    display: none;


    @include from($medium) {
      width: 55%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      background-color: $background-blue;

      img {
        width: 85%;
      }
    }
  }

  &__form {
    width: 100%;

    @include from($medium) {
      width: 45%;
    }
  }
}
