@import "../../../../styles.scss";

.m-files-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  h2 {
    width: 100%;
    text-transform: capitalize;
    color: $font-grey;
    @include montserrat-bold;
    font-size: large;
    margin: 0px 0px 15px 10px;
    padding-bottom: 15px;
    border-bottom: 1px $border-light solid;
  }

  &__files {
    display: flex;
    align-content: space-around;

    .m-file {
      height: 200px;
      width: 150px;
      margin: 20px;
    }
  }

  &__files--wrap {
    flex-wrap: wrap;
  }

  &__files--no-wrap {
    overflow-x: scroll;
  }

  ::-webkit-scrollbar {
    height: 5px;
    background-color: none;
    border-color: $border-light;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $scroll-light;
    border-radius: 5em;
  }
}
