@import "../../../../styles.scss";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $font-dark;
  border: none;
  height: 1.5em;
  cursor: pointer;
  box-sizing: unset;
  outline: none;
  background-color: transparent;

  &__label {
    display: none;

    @include from($medium) {
      display: block;
      margin-left: 5px;
    }
  }

  &:hover {
    background-color: $hover-dark;
  }

  img {
    width: 2em;
    height: 2em;
  }
}

.button--always-label {
  justify-content: flex-start;
  .button__label {
    margin-left: 10px;
    display: block;
  }

  &:focus {
    background-color: $primary-dark;
  }

  img {
    width: 1.5em;
    height: 1.5em;
  }
}

.button--outlined {
  border: 2px $border solid;
  border-radius: 0.5em;
}

.button--within-label {
  .button__label {
    margin-left: 0px;
    display: none;
  }
}
